name: Deploy docs
on:
  push:
    branches: [ "task_03" ]
    
permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4
      - name: Setup Python
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install MkDocs plugin    
      - run: |
          pip install mkdocs-material mkdocs-i18n 
      - name: Deploy MkDocs site  
      - working-directory: ./trunk/ii002713/task_03/doc/html
      - run: |
          mkdocs gh-deploy --force
